.logo {
  color: var(--accent);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-add{
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo-header {
  color: var(--black-color);
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
}

.logo-footer {
  color: var(--white-color);
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
}
