.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear, visibility 500ms linear;
}

.modal {
  width: 450px;
  height: 609px;

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent);
  }
}

.modal-form-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;

  color: var(--title-color);
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 10px;
  position: relative;
}

.modal-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding-left: 42px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border: 1px solid var(--accent);
  }
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  .modal-input:focus + & {
    fill: var(--accent);
  }
}

.form-field label {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;

  color: var(--primary-color-text);
}

.form-field .modal-textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border: 1px solid var(--accent);
  }
  &::placeholder {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-button {
  background: var(--accent);
  color: var(--white-color);
  border-radius: 4px;
  border: none;
  padding: 10px 52px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--button-bg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.modal-checkbox {
  appearance: none;
  position: absolute;
}

.icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-color);
  border-radius: 2px;
  margin-right: 7px;
  .modal-checkbox:checked + & {
    background-color: var(--accent);
    background-image: url(../images/check.svg);
    background-size: contain;
    background-origin: border-box;
    border-color: var(--accent);
  }
}

.form-checkbox {
  padding-right: auto;
  padding-left: auto;
  margin-bottom: 30px;
  margin-top: 20px;
  & .checkbox-label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox-label-link {
  color: var(--accent);
}
