body {
  background-color: var(--white-color);
  color: var(--primary-color-text);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;
  text-align: center;

  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
