:root {
  --primary-color-text: #757575;
  --title-color: #212121;
  --accent: #2196f3;
  --secondary-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
  --white-color: #ffffff;
  --black-color: #000000;
  --button-bg: #188ce8;
  --icons-color: #afb1b8;
}