.work {
  display: none;
  flex-wrap: wrap;
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.work .work__item {
  width: calc((100% - 60px) / 3);
}

.work-section-title {
  @media screen and (min-width: 480px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: block;
    margin-bottom: 50px;
    text-align: center;

    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
  }
}

.work__container {
  position: relative;
}

.work__text {
  position: absolute;
  bottom: 0;

  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}
